header {
  /* background-color: #232323; */
  background-color: #0f5866;
  min-height: 180px;
  border-bottom: 1px solid #d3d3d3;
  box-shadow: 0 10px 25px rgba(229, 235, 240, 0.2);
  display: flex; /* posicona lado a lado os elementos */
  align-items: center;
}

header section {
  display: flex;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  max-width: 76px; /*como a borda aumentou pra 4px, diminiu a imagem de 80 p/ 76 */
  border-radius: 100px;
  border: 4px solid #fff;
  margin-right: 30px;
  box-shadow: 0 10px 25px rgba(229, 235, 240, 0.2);
}

.brand div {
  font-size: 32px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  justify-content: center;
}

.brand span {
  display: block; /*para alinhar abaixo */
  font-size: 16px;
  color: #939393;
  font-family: "Lexend", sans-serif;
  font-weight: 400;
}

nav a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 15px;
  display: inline-block; /*uma linha posicionada dentro um bloco */
}

nav a:hover, a:focus {
  border-bottom: 2px solid #d3d3d3;
}

nav .about {
  /* border-bottom: 2px solid #6d5d5d; */
  border-bottom: 2px solid #939393;
}
