article {
  margin: 80px 0;
  max-width: 1000px;
  width: 100%;
}

article h1 {
  margin-bottom: 30px;
}

article h2 {
  margin-bottom: 40px;
  color: #d8d8d8;
}

article h3 {
  width: 100%; /*por deafult já fica alinhado a esquerda */
  font-size: 30px;
  margin-bottom: 30px;
}

article h1,
h2 {
  text-align: center;
}

article section {
  max-width: 820px;
  flex-direction: column;
}

picture {
  margin-bottom: 70px;
  display: flex;
  border-radius: 10px;
  overflow: hidden; /* esconde as pontas que ficam de fora com border-radius*/
}

picture img {
  /* width: auto; */
  /* max-width:100%; */
  width: 100%;  /*por default alinha a esquerda e deixa responsivo*/
}
